body,
html {
  background-color: #465298;

  box-sizing: border-box;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  overflow: hidden;
}

.scrolling {
  height: 100%;
}

.login {
  color: white;
  font-size: 30px;
  margin-top: 100px;
  padding: 10px;
  text-align: center;
  background-color: rgb(122, 122, 122);
}

.login input {
  font-size: 20px;
  margin: 0px;
  padding: 10px;
}
.login button {
  font-size: 20px;
  margin: 0px;
  margin: 10px;
  padding: 10px;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.onlineNames {
  left: 50%;
  margin-left: -110px;
  position: absolute;
  min-width: 200px;
  background-color: rgba(41, 41, 41, 0.5);
  color: rgb(255, 255, 255);
  padding: 0px;
  border-radius: 10px;
}

.oUser {
  padding: 3px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(226, 226, 226, 0.5);
}
.online {
  top: 0;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: white;
  padding: 20px;
  text-align: center;
  background-color: rgb(56, 56, 56, 0.5);
}

.online ul {
  padding: 0;
  margin: 0;
}
.online ul li {
  font-size: 20px;
  list-style: none;
}

.ChatInput {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  opacity: 1;
  width: 100%;
  height: 50px;
  z-index: 1;
  position: fixed;
  bottom: 0px;
}
.ChatInput input {
  width: 100%;
  font-size: 25px;
  padding-left: 10px;
  margin: 5px;
}
.ChatInput button {
  font-size: 20px;
  margin: 0px;
  margin: 10px;
}

.Chat {
  box-sizing: border-box;
  padding-top: 115px;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 50px;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #3e498b,
    #3e498b 30px,
    #465298 30px,
    #465298 60px
  );
}

.Chat ul {
  padding: 0;
  margin: 0;
}
.Chat ul li {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.userNameRight {
  width: 100%;
  color: rgb(22, 22, 22);
}
.userRight {
  float: right;
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
  background-color: #b4bfff;
}

.userNameLeft {
  color: rgb(255, 255, 255);
}
.userLeft {
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
  background-color: #6775c5;
}
